body{
	background-color: #272822;
	font-family: courier;
	color: #c0c0c0;
}

.header{
	border-style: hidden;
	height: 1000px;
}

.footnote{
	vertical-align: bottom;
}

#nsfw{
	display: none;
}

.button {
    background-color: #383838; /* Green */
    /*border: 2px solid #111111;*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}

.blockImage{
	display: block;
}