body{
	background-color: #272822;
	font-family: courier;
	font-size: 20px;
	color: #c0c0c0;
}

div.header{
	text-indent: 50px;
	border-style: hidden;
	padding: 20px;
	height: 500px;
}

.footnote{
	vertical-align: bottom;
}

#nsfw{
	display: none;
}

#profile{
	height: 256px;
	width: 256px;
	/*display: block;*/
	float: left;
	/*margin: 40px;*/
}

.button {
    background-color: #383838; /* Green */
    /*border: 2px solid #111111;*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}

.blockImage{
	display: block;
}