body{
	background-color: #272822;
	font-family: courier;
	font-size: 20px;
	color: #c0c0c0;
}

.header{
	text-indent: 50px;
	border-style: hidden;
	padding: 100px 0 0 100px;
	height: 300px;
}

.common{
	text-indent: 50px;
	border-style: hidden;
	padding: 100px 0 0 100px;
	height: 400px;
}

.skillset{
	text-indent: 50px;
	border-style: hidden;
	padding: 100px 0 0 100px;
	height: 700px;
}

.footnote{
	vertical-align: bottom;
}

.picture{
	padding: 10px;
}

#nsfw{
	display: none;
}

#profile{
	height: 256px;
	width: 256px;
	/*display: block;*/
	float: left;
	/*margin: 40px;*/
}

.button {
    background-color: #383838; /* Green */
    /*border: 2px solid #111111;*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}

.blockImage{
	display: block;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 1000px; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: center; /* Right-align text */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: black; /* White text color */
    background-color: #808080;
}

.html {width: 45%; background-color: #4CAF50;} /* Green */
.css {width: 40%; background-color: #2196F3;} /* Blue */
.js {width: 32.5%; background-color: #f44336;} /* Red */
.php {width: 30%; background-color: #808080;} /* Dark Grey */